[submodule "www/submodules/manifest.git"]
	path = www/submodules/manifest.git
	url = https://github.com/markdown-extended/manifest
[submodule "www/submodules/php-markdown-extended.git"]
	path = www/submodules/php-markdown-extended.git
	url = http://github.com/piwi/markdown-extended
