### Hack to allow keeping an empty directory
!.gitkeep

### OS & software files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon
._*
*~
*~lock*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
# to be commented to include them in a project
.project
.buildpath
.idea/*

# various
*tmp*
var/*
dev/*
*/vendor/*

# deploy
.devtools