Options -Indexes +FollowSymLinks

RewriteEngine On
#RewriteBase /

# no access to anything beginning with a dot
RewriteRule ^(.*/)?\.(.*)/ - [F]

# setting the error pages
ErrorDocument 403 /index.php?forbidden
ErrorDocument 404 /index.php?not_found
ErrorDocument 500 /index.php?error

# skip all this if the file or the dir exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# `index.php` will handle all requests
RewriteRule ^(.*)$ index.php?$1 [QSA,L]
